*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 5% 5% 7% 5%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1;
}


header ul{
    list-style-type: none;
    column-gap: 5px;
    color: white;

    position: fixed;
    z-index: 1;

    right: 0;
    top: 1%;
}

header li{
    background-color: grey;
    padding: .15rem;
    text-align: center;
    border-radius: 5px;
}

.row{
    width: 100%;
    margin: 0 0 1vh;
    /* flex-wrap: wrap; */
}

.single-box{
    position: relative;
    width: calc(100% / 7);
    /* height: 50px; */
    margin-right: .3rem;

    background-image: url(mountain.jpg);
    background-size: cover;
    height: 100px;
}


.row :last-child{
    margin: 0;
}

.name{
    position: absolute;
    left: 0;
    bottom: 0;

    color: white;
    background-color: rgba(135, 135, 135, 0.7);
}

footer{

    background-color: grey;
    width: 100%;
    color: white;

    justify-content: space-between;
}

.camera-audio-container, .tools-container, .end-meeting-container{
    height: 100%;
    align-items: center;
    margin: .6rem 0
}


.end-meeting-container{
    height: 100%;
    justify-content: center;
}

footer .container{
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 .2rem;
}

.arrow-container{
    padding: 0 .7rem;
}

footer span, footer h1{
    font-size: .8rem;
}

footer h1{
    padding: 0 1rem;
}

.end-meeting-container:hover{
    background-color: rgb(164, 164, 164);
    color: rgb(249, 16, 16);
}


