*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 50px;
    background-color: black;
}

header ul{
    list-style-type: none;
    column-gap: 5px;
    color: white;

    right: 0;
    top: 1%;
}

header li{
    background-color: grey;
    padding: .15rem;
    text-align: center;
    border-radius: 5px;
}


main{
    padding: 0 5%;
    height: calc(100vh - 120px);
    background-color: black;
    overflow-y: auto;
    
}

footer{
    /* position: absolute;
    right: 0;
    left: 0;
    bottom: 0; */

    height: 70px;
    background-color: grey;
    color: white;

    justify-content: space-between;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    width: 100%;
}

.single-box{
    position: relative;
    width: calc(100% / 7);

    background-image: url(mountain.jpg);
    background-size: cover;
    height: 100px;
    border: 3px solid black;
}

.name{
    position: absolute;
    left: 0;
    bottom: 0;

    color: white;
    background-color: rgba(135, 135, 135, 0.7);
}



.camera-audio-container, .tools-container, .end-meeting-container{
    height: 100%;
    align-items: center;
    
}


.end-meeting-container{
    height: 100%;
    justify-content: center;
}

footer .container{
    height: 100%;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0 .4rem;
}

.arrow-container{
    padding: 0 .7rem;
}

footer span, footer h1{
    font-size: .8rem;
}

footer h1{
    padding: 0 1rem;
}

.end-meeting-container:hover{
    background-color: rgb(164, 164, 164);
    color: rgb(249, 16, 16);
}


